.ui-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-page {
  background-color: #eceff1;
  border-radius: 20px;
  padding: 20px;
  width: 30%;
}
